.box{
    border-style: solid;
    border-color: black;
    margin: 25px;
    padding-left: 50px;
    padding-right: 50px;
    height: 100vh;
    height: calc(100vh - 50px);
    box-sizing: border-box;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.fname{
    margin-top: 50px;
    margin-bottom: 2px;
    size: 40px;
}
.title{
    margin-top: 2px;
    padding-top: 2px;
    size: 20px;
}

#home{
    display:none;
}

#exp{
    display:none;
}

#proj{
    display:none;
}

#contact{
    display:none;
}

.aboutO{
    margin-bottom: 2px;
    padding-bottom: 2px;
    size: 20px;

}
.aboutT{
    margin-top: 2px;
    padding-top: 2px;
    font-size: 14px;
}


/* contact - form group */
.container{
    border-radius:5px;
    background-color: aliceblue;
    padding: 20px;
    display: block;
}
.name, .email, .message{
    margin: 10px;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid black;
}

input[type=text]{
    margin: 10px;
    padding: 10px;
}
/* -------------------- */
