.box{
    border-style: solid;
    border-color: black;
    margin: 25px;
    padding-left: 50px;
    padding-right: 50px;
    /* height: auto; */
    height: 100vh;
    /* height: calc(100vh - 50px); */
    /* box-sizing: border-box; */
}

/* When viewport height is less than 950px */
/* @media (max-height: 950px) {
    .box {
        height: 100vh;
    }
} */

/* For viewport heights of 950px and above */
/* @media (min-height: 951px) {
    .box {
        height: 5000px;
    }
} */

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.fname{
    margin-top: 50px;
    margin-bottom: 2px;
    size: 40px;
}
.title{
    margin-top: 2px;
    padding-top: 2px;
    size: 20px;
}

#home{
    display:none;
}

#exp{
    display:none;
}

#proj{
    display:none;
}

#contact{
    display:none;
}

.aboutO{
    margin-bottom: 2px;
    padding-bottom: 2px;
    size: 20px;

}
.aboutT{
    margin-top: 2px;
    padding-top: 2px;
    font-size: 14px;
}


/* contact - form group */
.container{
    border-radius:5px;
    background-color: aliceblue;
    padding: 20px;
    display: block;
}

.captcha, .captchaImg, .captchaInp, .captchaRef{
    display: inline-block;
}

#emailC{
    display: none;
}

.name, .email, .message{
    margin: 10px;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid black;
}

input[type=text]{
    margin: 10px;
    padding: 10px;
}
/* -------------------- */
